@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: Figtree, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

[x-cloak] {
    display: none;
}

* {
    font-family: "Roboto", sans-serif;
}

/* .diet-content h3 {
    margin-bottom: 5px;
    font-size: 105%;
} */

.diet-text ul {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

/* Remove arrows from number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
